
@{
    ViewBag.Title = "About";
}

<br />
<h2>@ViewBag.Title</h2>
<br />
<h3>General information</h3>
<br />
<h3>Assumptions</h3>
<ul>
    <li>Copies of the book titles are available for borrowing.</li>
    <li>If a customer borrows a book, they are expectd to return the coomic book.</li>
</ul>

<br />

<h3>Additional functionality</h3>
<ul>
    <li>A home-built Account-, Authentication- and Authorization-manager using Roles.</li>
</ul>

<br />